{% extends "problemas/base.html" %}
{% block tags %}
<div class="nav nav-sidebar" id="etiquetas">
    {% for etiqueta in etiquetas %}
    <input type="checkbox" value="{{ etiqueta }}" name="chetiqueta"> {{ etiqueta }}<br>
    {% endfor %}
</div>
{% endblock %}
{% block js%}
<script>
$(document).ready(function(){
    $("#filtro").keyup(function(){
        var values = $("input[type='checkbox']:checked").map(function () {
            return this.value;
        }).get();
        lista = {};
        for (var i=0; i<values.length;i++){
            lista[values[i]] = '1';
        }
        lista['_filtro_'] = $(this).val();
        $.ajax({
            data: lista,
            url: '/ajax/',
            type: 'get',
            success: function(data){
                var html = "";
                for (var i=0; i<data['sel'].length; i++){
                    html = html + '<input type="checkbox" value="' + data['sel'][i] + '" name="chetiqueta" checked="1"> ' + data['sel'][i] + '<br>';
                }
                for (var i=0; i<data['desel'].length; i++){
                    html = html + '<input type="checkbox" value="' + data['desel'][i] + '" name="chetiqueta"> ' + data['desel'][i] + '<br>';
                }
                $("#etiquetas").html(html);
            }
        });
    });
});
</script>
{% endblock %}
